.formContainer {
    display: flex;
    flex-wrap: wrap;
    flex-grow: inherit;
    flex: auto;
    margin-bottom: 10px;
}
    .formContainer__form {
    display: flex;
    flex-basis: 75%;
    background-color: azure;
    justify-content: center;
    flex-wrap: wrap;
}
.form__field {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.dateInput {
    width: 25%;
    margin-bottom: 10px;
}
.conceptInput {
    justify-self: left;
    width: 25%;
}
.journalInput {
    width:50%;
    margin-top: 5px;
}
.submitbutton {
    margin-top: 5px;
    width: 25%;
    height: 25%;
}
footer {
    /* margin-top: 500px; */
    display: flex;
    justify-self: self-end;
}