.formContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    flex-basis: 75%;
    background-color: rgb(141, 226, 226);
}
/* .formContainer__form {
    display: flex;
    flex-direction: column;
    background-color: rgb(141, 226, 226);
    flex-wrap: wrap;
    justify-content: center;
} */
.dateInput {
    margin: 10px;
    width: min-content;
}
.conceptInput {
    margin: 10px;
    width: min-content;
}
.journalInput {
    margin: 10px;
    margin-top: 5px;
    width: 250px;
    height: 250px;
}
textarea {
    width: 300px;
    height: 200px;
}
.submitbutton {
    margin-top: 5px;
    width: min-content;
}
.moods {
    margin: 10px;
    width:100%;
}
.pastEntry {
    justify-content: flex-start;
    /* display: flex; */
    flex-basis: 25%;
    text-align: center;
}
footer {
    /* margin-top: 500px; */
    display: flex;
    justify-self: self-end;
}