main {
    display: flex;
}
.journalHeader {
    display: flex;
    background-color: aqua;
    justify-content: space-between;
}
.userName {
    display: flex;
    background-color: aquamarine;
    justify-content: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.formContainer {
    display: flex;
}
.formContainer__form {
    display: flex;
    flex: 75%;
    background-color: azure;
    flex-direction: column;

}
.pastEntry {
    display: flex;
    justify-content: center;
    flex: 25%;
    background-color: cadetblue;
}
.pastEntry p {
    text-align: center;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer {
    display: flex;
    background-color: cyan;
}